body {
    /*    width: 97%;*/
    padding-right:8px;
    padding-left:8px;
    font-family: "San Francisco";
    font-size: 19px;
    color: #333333;
    background: #FAFAFA;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: justify;
    -khtml-user-select:yes;
    background: #FAFAFA;
    word-wrap:break-word;
/*    word-break:break-all;*/
    overflow:auto;
    text-align:justify;
}

img {
    width:100%;
    height: auto;
}

